{% extends 'blog/base.html'%}

{% load static %}

{% block content %}

<div class="row">
{% if taille_mylist == 0 %}
    <div class="col-12">
        <p class="empty_list mx_auto">
        <i class="fas fa-sad-tear"></i>
        <p class="text-center">
        misère de misère vous n'avez pas encore d'élément en favoris
         retourner a l'accueil du blog <a href="{% url 'blog-app'%}">liste des publications</a>
        </p>
    </div>
    {% else %}
    {% for pub in pubs %}
    <div class="col-12 pub-favorite">
        <img src="{{pub.image.url}}" class="img-fluid mx-auto d-block"/>
        {{pub.titre}}
        <a class="btn btn-danger btn-sm" href="{% url 'remove' pub.id%}">
        <iclass="fas fa-trash"></i>
        </a>
        </p>
    </div>
    {% endfor %}
    {% endif %}
</div> 


{% endblock content %}