{% extends 'blog/base.html'%}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>ajouter des nouvelles videos</p>
        </div>
        <div class="form-content">
            <div class="row">
                <center>
                    <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="col-md-6">
                            <div class="form-group">
                                    <table style="width:100%;">
                                        {{form|crispy}}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btnSubmit">ajouter</button>
                        <br>
                        <br> <br><p>vous n'avez pas de compte ? crée le votre <a href="{% url 'register'%}">en cliquant ici</a></p>
                    </form>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock content %}